body {
    margin: 0px;
    background-color: rgb(232, 213, 191);
    font-family: 'Old Standard TT', serif;
}

div {
    width: 80%;
    margin: 0px auto;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(24, 23, 23);
    margin-bottom: 50px;
    font-size: 50px;
}

h3 {
    color: rgb(24, 23, 23);
    font-size: 23px;
    width: 80%;
}

hr {
    background-color: rgb(151, 139, 139);
    width: 80%;
    height: 1px;
}

.btn {
    padding: 25px 50px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid rgb(51, 67, 44);
    cursor: pointer;
    outline: none;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    border-radius: 15px;
    color: rgb(51, 67, 44);
}

.btn:hover {
    border: 2px solid rgb(51, 67, 44);
    color: rgb(239, 235, 235);
    background-color: rgb(51, 67, 44);
}

